[access]
	inheritFrom = GerritForge/gerrit-enterprise-projects
[submit]
[project]
	description = Plugs into the builtin Gerrit WebSession implementation and broadcast websessions to an external broker
[access "refs/*"]
	owner = group GerritForge-websession-broker
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group GerritForge-websession-broker
	label-Verified = -1..+1 group GerritForge-websession-broker
	push = group user/Luca Milanesio (lucamilanesio)
	rebase = group GerritForge-websession-broker
	removeReviewer = group GerritForge-websession-broker
	submit = group GerritForge-websession-broker
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
